<h2>Schemas</h2>
<p>Drawing the Entity-Relationship Diagram</p>

<div class='schemas'>
  <%= form_tag({}, method: :get, name: 'form_schema') do %>
  <table id='schema_table' class='schema_table'>
    <thead>
      <tr>
        <th>Schema</th>
      </tr>
       <tr class='bottom'>
        <th>
          <%= submit_tag :draw, class: 'bottom' %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @schemas.each do |schema| %>
      <tr>
        <td>
          <%= check_box :schemas, schema,
              {checked: @domains.include?(schema), onclick: 'check_schema()'}, true, false %>
          <%= schema %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
</div>

<div class='draw'>
  <% if @domains.present? %>
  <%= image_tag(@image_file) %>
  <% end %>
</div>
